@use '/src/variables.scss' as *;
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
}
.left{
  flex: 1;
  padding: 70px 50px;
  display: flex;
}
.leftContent{
  background-color: $light-blue-color;
  flex: 1;
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}
.right{
  padding: 70px 26px;
  width: 40%;
  background-color: $light-gray-color;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-height: 100vh;
}

.mainInfo{
  width: 100%;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray-color;
  font-size: 20px;
  font-weight: 400;
}

.info{
  flex: 1;
  background-color: $white-color;
  color: $black-color;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: scroll;
  overflow-wrap: anywhere;
}