span{
  display: block;
  font-variant-numeric: lining-nums proportional-nums;
}
.r48{
  font-size: 48px;
  line-height: 48px;
  font-family: 'LibreFranklin', serif;
}

.r32{
  font-size: 32px;
  line-height: 32px;
  font-family: 'LibreFranklin', serif;
}

.r24{
  font-size: 24px;
  line-height: 24px;
  font-family: 'LibreFranklin', serif;
}

.r20{
  font-size: 20px;
  line-height: 20px;
  font-family: 'LibreFranklin', serif;
}

.r16{
  font-size: 16px;
  line-height: 16px;
  font-family: 'Raleway', sans-serif;
}

.r14{
  font-size: 14px;
  line-height: 14px;
  font-family: 'Raleway', sans-serif;
}

.r12{
  font-size: 12px;
  line-height: 12px;
  font-family: 'Raleway', sans-serif;
}
